@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

.prose  h1, .prose  h2, .prose  h3, .prose  h4, .prose  h5, .prose  h6 {
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 1rem;
  color: black;
}

.prose h1 { font-size: 2.5rem; }
.prose h2 { font-size: 2rem; }
.prose h3 { font-size: 1.75rem; }
.prose h4 { font-size: 1.5rem; }
.prose h5 { font-size: 1.25rem; }
.prose h6 { font-size: 1rem; }

.prose p {
  margin-bottom: 1rem;
  color: black;
}

.prose a {
  color: #007bff;
  text-decoration: none;
}

.prose ul, .prose ol {
  margin-left: 1rem;
  margin-bottom: 1rem;
  list-style: initial;
  color: black;
}

.prose li {
  margin-bottom: 0.5rem;
}

.prose table {
  max-width: 100%;
  border-collapse: collapse;
}

.prose th, .prose td {
  border: 1px solid #ddd;
  padding: 0.75rem;
  text-align: left;
}

.prose img {
  display: inline;
}

@media (max-width: 768px) {
  .prose h1 { font-size: 2rem; }
  .prose h2 { font-size: 1.75rem; }
  .prose h3 { font-size: 1.5rem; }
  .prose h4 { font-size: 1.25rem; }
  .prose h5 { font-size: 1rem; }
  .prose h6 { font-size: 0.875rem; }
}
@media (max-width: 480px) {
  .prose h1 { font-size: 1.75rem; }
  .prose h2 { font-size: 1.5rem; }
  .prose h3 { font-size: 1.25rem; }
  .prose h4 { font-size: 1rem; }
  .prose h5 { font-size: 0.875rem; }
  .prose h6 { font-size: 0.75rem; }
}

.slick-prev:before, .slick-next:before {
  color: #F3F9FB !important;
  font-size: x-large !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #3C3D37;
    color: #213547;
  }
}
