@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 1rem;
  color: black;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

p {
  margin-bottom: 1rem;
  color: black;
}

a {
  color: #007bff;
  text-decoration: none;
}

ul, ol {
  margin-left: 1rem;
  margin-bottom: 1rem;
  list-style: initial;
  color: black;
}

li {
  margin-bottom: 0.5rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  color: black;
}

th, td {
  border: 1px solid #ddd;
  padding: 0.75rem;
  text-align: left;
}

img {
  display: inline;
}

.slick-prev:before, .slick-next:before {
  color: #F3F9FB !important;
  font-size: x-large !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #3C3D37;
    color: #213547;
  }
}
